In [ ]:
import pandas as pd

In [ ]:
#Load excel file
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')

#get list of sheets (review these first in excel to get an idea of what each contains)
xls.sheet_names

In [ ]:
#load specific sheets to their own dataframes
df_trans = pd.read_excel(xls, sheet_name = 'Transactions')
df_newcust = pd.read_excel(xls, sheet_name ='NewCustomerList')
df_custdem = pd.read_excel (xls, sheet_name= 'CustomerDemographic')
df_custadd = pd.read_excel (xls, sheet_name ='CustomerAddress')

In [ ]:
df_trans.head()

In [ ]:
df_trans.columns

#### There's a clear issue with our dataframe. Let's write a function to drop  these unnamned columns

In [ ]:
#Function to drop unnamned columns
def drop_columns(df):
    df = df.drop([col for col in df.columns if 'Unnamed' in col], axis=1, inplace =True)
    return df
drop_columns(df_trans)
drop_columns(df_newcust)
drop_columns(df_custdem)
drop_columns(df_custadd)

In [ ]:
#combine the transation table, customer demographic and address tables on customer ID
whole1 = pd.merge(df_trans,df_custdem, on='customer_id',how='left')

In [ ]:
whole1.head()

In [ ]:
#combine the new merged table with the last, to form a single dataframe of old customers
df_old = pd.merge(whole1,df_custadd,on='customer_id',how='left')

In [ ]:
df_old.head()

In [43]:
df_old.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction_id                       20000 non-null  int64
 1   product_id                           20000 non-null  int64
 2   customer_id                          20000 non-null  int64
 3   transaction_date                     20000 non-null  int64
 4   online_order                         19640 non-null  float64
 5   order_status                         20000 non-null  object
 6   brand                                19803 non-null  object
 7   product_line                         19803 non-null  object
 8   product_class                        19803 non-null  object
 9   product_size                         19803 non-null  object
 10  list_price                           20000 non-null  float64
 11  standard_cost                        19803 non-null  float64
 12  product_first_sold_date              19803 non-null  float64
 13  first_name                           19997 non-null  object
 14  last_name                            19355 non-null  object
 15  gender                               19997 non-null  object
 16  past_3_years_bike_related_purchases  19997 non-null  float64
 17  DOB                                  19551 non-null  datetime64[ns]
 18  job_title                            17603 non-null  object
 19  job_industry_category                16768 non-null  object
 20  wealth_segment                       19997 non-null  object
 21  deceased_indicator                   19997 non-null  object
 22  default                              18546 non-null  object
 23  owns_car                             19997 non-null  object
 24  tenure                               19551 non-null  float64
 25  address                              19968 non-null  object
 26  postcode                             19968 non-null  float64
 27  state                                19968 non-null  object
 28  country                              19968 non-null  object
 29  property_valuation                   19968 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(17)
memory usage: 4.7+ MB

In [44]:
df_old.isnull().sum()

transaction_id                            0
product_id                                0
customer_id                               0
transaction_date                          0
online_order                            360
order_status                              0
brand                                   197
product_line                            197
product_class                           197
product_size                            197
list_price                                0
standard_cost                           197
product_first_sold_date                 197
first_name                                3
last_name                               645
gender                                    3
past_3_years_bike_related_purchases       3
DOB                                     449
job_title                              2397
job_industry_category                  3232
wealth_segment                            3
deceased_indicator                        3
default                                1454
owns_car                                  3
tenure                                  449
address                                  32
postcode                                 32
state                                    32
country                                  32
property_valuation                       32
dtype: int64

In [47]:
#checking for duplicate data 
duplicateRowsDF = df_old[df_old.duplicated(keep=False)]
print("All Duplicate Rows based on all columns are :")
#print(duplicateRowsDF)

All Duplicate Rows based on all columns are :